 .Container {
    position: relative;
    display: flex;
}

 .Tooltip {
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    bottom: 100%;
    left: 50%;
    margin-left: -40px;
    border-radius: 3px;
    background-color: hsla(0, 0%, 20%, 0.9);
    padding: 7px;
    margin-bottom: 5px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
